@import "variables";
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');

.home {
    display: flex;
    background-image: url(../media/homeimage.jpg);
    background-size: 100% 683;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    background-color: black;
    align-items: center;
    height: 100vh;
    justify-content: center;
    }

.buttons{
        display: flex;
        float: left;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 7px;
      }
.title{
    text-align: left;
    float: left;
    position: absolute;
    left: 5%;
    top: 15%;
    width: px;
    height: 120px;
    font-family: $titlefont;
    font-size: 37px;
}
.list{

    height: 100vh;
    width: 100%;
    background-image: url(../media/blur12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

    .span_1_of_4{
        display:flex;
        align-items: center;
        font-size:10px;
        height:5%;
        align-content: center;
        text-align: center;
        color: white;
        margin: auto;
        background-image: url(../media/blur05.jpg);
        
}
    
    .span_2_of_4{
        display: flex;
        float: center;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: center;
        align-content: center;
        padding: 1px;
        background-color:black;
        height: 5.4%;
        width: 100vw;
        justify-content:space-around;
    

    }
.span_3_of_4{ 
    .h4{
        text-align: center;
    }     
    padding: 2px;
    height: 50%;
    width: 100vw;
    justify-content:space-around;
    flex-direction: row;
    text-align: center;

    .heading{
        font-size: 18px;
        color: blue;
        align-content: center;
        font-weight: 100%;
    }
    .li{
        font-size: 15px;
        align-content: center;
        align-items: center;

    }
    .Results{
        display: flex;
      
        align-items: center;
        align-content: center;

    }

  
    
    .myButtons{
        display: flex;
        align-items: center;
    }

    

}
.span_4_of_4{
        display: flex;
        float: left;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 7px;
}


.ul{
    padding: 0;
    -webkit-padding-start: 0;
}
.h1_sp1{
    text-align: center;
    align-items: center;
    margin: auto;
}





