@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../media/homeimage.jpg);
  background-size: 100% 683;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  background-color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 7px; }

.title {
  text-align: left;
  float: left;
  position: absolute;
  left: 5%;
  top: 15%;
  width: px;
  height: 120px;
  font-family: "Special Elite", cursive;
  font-size: 37px; }

.list {
  height: 100vh;
  width: 100%;
  background-image: url(../media/blur12.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.list1 {
  height: 100vh;
  width: 100%;
  background-image: url(../media/blur12.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.span_1_of_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  height: 5%;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  color: white;
  margin: auto;
  background-image: url(../media/blur05.jpg); }

.span_2_of_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 1px;
  background-color: black;
  height: 5.4%;
  width: 100vw;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.span_3_of_4 {
  padding: 2px;
  height: 50%;
  width: 100vw;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center; }
  .span_3_of_4 .h4 {
    text-align: center; }
  .span_3_of_4 .heading {
    font-size: 18px;
    color: blue;
    -ms-flex-line-pack: center;
    align-content: center;
    font-weight: 100%; }
  .span_3_of_4 .li {
    font-size: 15px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .span_3_of_4 .Results1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .span_3_of_4 .Results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .span_3_of_4 .myButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .span_3_of_4 .myButtons2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .span_3_of_4 .h3 {
    float: left;
    height: 3px;
    margin-top: 48px;
    margin-left: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.span_4_of_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 7px; }

.ul {
  padding: 0;
  -webkit-padding-start: 0; }

.h1_sp1 {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto; }

.buttons3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-right: 9px; }

.heading_invite {
  margin-left: 13px;
  margin-top: 4px;
  height: 75px; }

.h4 {
  float: left;
  height: 3px;
  margin-top: 4px;
  margin-left: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.buttons4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-right: 9px;
  margin-top: -49px; }
